#carro {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
}

.carrito:hover {
    cursor: pointer;
}

#borde {
    border-bottom-style: solid;
    border-bottom-width: 5px;
}


.cantid {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    width: 200px;
    bottom: 237px;
    left: 70px;
    text-shadow: 3px 3px 3px black;
}

.lista {
    margin: 50px;
    display: grid;
    grid-template-columns: 100px 100px;
    position: relative;
    width: 280px;
    height: 210px;
    padding: 30px;
    background-color: #350149;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    left: 11px;
}

.fotis {
    height: 180px;
    width: 230px;
    justify-content: center;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
    position: relative;
    right: 117px;
    box-shadow: 3px 3px 3px black;
}

#eliminar {
    height: 28px;
    width: 28px;
    bottom: 20px;
    position: relative;
    right: 60px;
}

#eliminar:hover {
    cursor: pointer;
}

#precioo {
    position: relative;
    left: 50px;
    bottom: 22px;
    text-shadow: 3px 3px 3px black;
}

#nohay {
    margin-bottom: 400px;
    text-shadow: 3px 3px 3px black;
}

#comprando {
    position: relative;
    bottom: 400px;
    padding: 20px;
    font-size: 20px;
    box-shadow: 3px 3px 3px black;
}

#comprando:hover {
    cursor: pointer;
}

#total {
    font-size: 50px;
    border-style: solid;
    padding: 12px;
    border-radius: 20px;
    background-color: #350149;
    text-shadow: 3px 3px 3px black;
}

#formu {
    background-color: #350149;
    border-radius: 20px;
    bottom: 40px;
    position: relative;
    justify-content: center;
    padding: 20px;
    height: 280px;
    border-style: solid;
    border-color: white;
}

.espacio {
    width: 300px;
    box-shadow: 2px 2px 2px black;
}

#finalizar {
    text-shadow: 3px 3px 3px black;
}

.terminar {
    box-shadow: 3px 3px 3px black;
}

#suid {
    border-style: solid;
    padding: 10px;
    border-radius: 20px;
    background-color: #350149;
}