.batsy {
    width: 360px;
    height: 200px;
    position: relative;
    margin: 42px;
    padding: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}

.batsy:hover {
    cursor: pointer;
    opacity: 0.9;
}

#proximamente {
    font-size: 30px;
    position: relative;
    top: 10px;
    text-shadow: 2px 2px 2px black;
    border-style: solid;
    background-color: #350149;
    padding: 10px;
    border-radius: 10px;
}

.or {
    border-bottom-style: solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-width: 5px;
}