#listado {
    display: grid;
    grid-template-areas: "1 2 3 4"
                         "5 6 7 8"
                         "9 10 11 12";
}

#cargando {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    margin-bottom: 200px;
}

#disk {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 355px;
}

#cargar {
    position: relative;
    text-shadow: 2px 2px 2px black;
}

